{% extends "base.html" %}
{% block content %}

<h1>Contact</h1>
<p>Vous pouvez me contacter via :</p>

<ul class="list">
  <li>
    📞 <strong>WhatsApp :</strong>
    <a class="link" href="https://wa.me/212657354090" target="_blank">
      06 57 35 40 90
    </a>
  </li>

  <li>
    ✉️ <strong>Email :</strong>
    <a class="link" href="mailto:centreelectrosupmaroc@gmail.com">
      centreelectrosupmaroc@gmail.com
    </a>
  </li>

  <li>
    📷 <strong>Instagram :</strong>
    <a class="link" href="https://www.instagram.com/ing_prof_islah_yassine?igsh=b20zem5vdjE0c2R6" target="_blank">
      @ing_prof_islah_yassine
    </a>
  </li>
</ul>

{% endblock %}
